<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <authentication>
      <patch:attribute name="defaultProvider">federated</patch:attribute>
      <providers>
        <add patch:after="processor[@type='Sitecore.Security.Authentication.FormsAuthenticationProvider, Sitecore.Kernel']" name="federated" type="ADFS.Authenticator.Authentication.FederatedAuthenticationProvider, ADFS.Authenticator"/>
      </providers>
    </authentication>
    <pipelines>
      <httpRequestBegin>
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="ADFS.Authenticator.Pipelines.HttpRequest.UserResolver, ADFS.Authenticator" />
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']" type="ADFS.Authenticator.Pipelines.HttpRequest.TokenRequestor, ADFS.Authenticator" />        
      </httpRequestBegin>
    </pipelines>
    <sites>
      <site name="shell">
        <patch:attribute name="loginPage">/sitecore modules/shell/fedauthenticator/logout.aspx</patch:attribute>
      </site>
    </sites>
    <settings>
      <setting name="ADFS.Authenticator.AdminUserRole" value="Admins" />
    </settings>
  </sitecore>
</configuration>